/* CSS for teacherRegistration form */

#joinform {
	width:				50%;
	margin:				auto;
	border:				solid 3px black;
	margin-top:			200px;
	margin-bottom:		75px;
	padding-left:		8px;
	background-color:	rgb(29, 174, 235);
	font-family: 		'Oswald', sans-serif;
	font-weight: 		300;
	font-size: 			18px;
	color: 				white;
	text-align: 		center;
}

/*

#joinform input{
	background: 		rgb(19, 125, 193);
	height: 			30px;
	margin-top: 		15px;
	width: 				220px;
	border: 			none;
  	font-family: 		'Oswald', sans-serif;
	font-weight: 		300;
	font-size: 			18px;
	color: 				white;
	text-align: 		center;
}

#joinform select {
background: 			rgb(19, 125, 193);
height: 				30px;
margin-top: 			15px;
width: 					220px;
border: 				none;
font-family: 			'Oswald', sans-serif;
font-weight: 			300;
font-size: 				18px;
color: 					white;
text-align: 			center;
}

#joinform select text  {
background: 			rgb(19, 125, 193);
height: 				30px;
margin-top: 			15px;
width: 					100px;
border: 				none;
font-family: 			'Oswald', sans-serif;
font-weight: 			300;
font-size: 				18px;
color: 					white;
text-align: 			center;
}

*/

.textFields{
	background: 		rgb(19, 125, 193);
	height: 			30px;
	margin-top: 		15px;
	width: 				220px;
	border: 			none;
  	font-family: 		'Oswald', sans-serif;
	font-weight: 		300;
	font-size: 			18px;
	color: 				white;
	text-align: 		center;
}

#bio{
	background: 		rgb(19, 125, 193);
	margin-top: 		15px;
	border: 			none;
  	font-family: 		'Oswald', sans-serif;
	font-weight: 		300;
	font-size: 			18px;
	color: 				white;
	text-align:			center;
	resize:				none;
}

