/* *************LOGIN BOX STYLING************* */

#login-content{
	z-index: 5;
}

#loginDropDown ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: black;
}


#loginDropDown li {
	float: left;
}

#signup{
	margin-right: 50px;
}

fieldset{
	border: 0;
}

#loginDropDown #login-trigger,
#loginDropDown #signup a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-align: center;
	display: inline-block;
	height: 50px;
	width: 100px;
	color: white;
	text-decoration: none;
}

#loginDropDown #login-trigger:hover,
#loginDropDown #login .active,
#loginDropDown #signup a:hover {
	background: rgb(29, 174, 235);
}

#loginDropDown #login-content {
	display: none;
	position: absolute;
	top: 50px;
	margin-right: 0px;
	right: 0;
	z-index: 999;    
	background: rgb(29, 174, 235);
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#loginDropDown li #login-content {
	right: 0;
	width: 249px;
	height: 175px;
}

#inputs input {
	background: rgb(19, 125, 193);
	height: 30px;
	margin-top: 15px;
	width: 220px;
	border: none;
  	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
	text-align: center;
}

::-webkit-input-placeholder {
	color: rgb(104, 201, 241);
}

#login #submit {    
    background-color: rgb(19, 125, 193);
    height: 30px;
    width: 220px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white; 
    border: none;
}

#login #submit:hover,
#login #submit:focus {
    background-color: rgb(104, 201, 241);
} 

/* *************END OF LOGIN BOX STYLING************* */